:root {
  --color-background: #191919;
  --color-background-light: #2a2a2a;
  --color-text: #dadada;
  --color-text-bright: #fefefe;
  --color-foreground-dim: #707070;
  --color-accent: #0f5f8b;

  --max-content-width: 85%;
}

body,
html,
#__nuxt,
#apollo {
  height: 100%;
  width: 100%;
  font-family: "Outfit Variable", sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-text);
}

.page-enter-active,
.page-leave-active {
  transition: all 75ms;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
}

a {
  text-decoration: none;
}

a.underline {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: var(--color-accent);
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

button {
  background: var(--color-background-light);
  padding: 0.5rem 1rem;
  border-radius: 5px;

  &.primary {
    background: var(--color-accent);
    color: var(--color-text-bright);
  }

  & + button {
    margin-left: 1rem;
  }
}

@keyframes shine {
  0% {
    transform: translate3d(-625%, 0, 0) rotate(35deg);
  }
  10% {
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }
  100% {
    transform: translate3d(200%, 0, 0) rotate(35deg);
  }
}

button.shine {
  z-index: 1;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    z-index: -1;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    top: -50%;
    bottom: -50%;
    width: 1.25em;
    transform: translate3d(-625%, 0, 0) rotate(35deg);
    animation: shine 7s ease-in-out infinite;
  }

  // &:hover::after {
  //   transition: transform 0.45s ease-in-out;
  //   transform: translate3d(200%, 0, 0) rotate(35deg);
  // }
}
